/*#############################################################
Name: Fluid Solution
Date: 2006-09-06
Description: Totally liquid three-column layout, clean and simple.
Author: Viktor Persson
URL: http://arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
body {
	background: #FFF url(img/bg.gif) repeat-x;
	color: #444;
	font: normal 62.5% "Lucida Sans Unicode",Verdana,sans-serif;
	padding-top: 40px;
}
p,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}

li {
	list-style: none;
}
h1 {
	font-size: 1.4em;
}
code {
	background: url(img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #4AA02C;	/* changed from #F06 */	
	color: #444;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
blockquote {
	background: #FBFCF5;
	border-bottom: 1px solid #EED;
	border-top: 1px solid #EED;
	color: #444;
	display: block;
	font: normal 0.9em Verdana,sans-serif;
	margin-bottom: 12px;
	padding: 12px;
}
h1,h2,h3,h4 {
	font: normal 1.2em "Trebuchet MS",sans-serif;
	color: #4AA02C;	/* changed from #F06 */
}
/* misc */
.clearer {
	clear: both;
}

/* header */
.header {
	
	border-bottom: 1px solid #EEE;
	height: 160px;
	margin-bottom: 24px;
}
.header h1 {
	color: #222;
	font: normal 4em sans-serif;
	margin-top: 40px;
	text-align: center;
}
.header h2 {
	border-top: 1px solid #EEE;
	color: #666;
	text-align: right;
}
.header h2 span {
	background: #222;
	color: #EEE;
	padding: 0 6px;
}

/* left side (main content) */
.left {
	margin: 0 30% 20px 15%;
}
.content .descr {
	color: #06F;
	font-size: 1.2em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(img/dot.jpg);
	margin-left: 18px;
}
.content h1 {
	font-size: 2.4em;
	margin-bottom: 4px;
}
.content a,.footer a {
	color: #4AA02C;	/* changed from #F06 */
	text-decoration: none;
}
.content a:hover,.footer a:hover {
	color: #444;
	border-bottom: 1px solid #4AA02C;	/* changed from #F06 */
}

/* nav & subnavigation */
.nav,.right {
	margin-bottom: 20px;
	position: absolute;
	top: 40px;
}	

/* navigation */
.nav {
	left: 12%;
	text-align: center;
	width: 17%;
}
.nav .logo {
	background: url(img/JenniferCulbertson_small.jpg);
	/*border-bottom: 1px solid #EEE;*/
	/*border-top: 1px solid #EEE;*/
	/*height: 200px;*/	
	width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.nav h1 {
	color: #4AA02C;	/* changed from #F06 */
	margin: 12px 0;
}
.nav li {
	border-bottom: 1px solid #EEE;
}
.nav li a {
	color: #666;
	display: block;
	font: normal 1.4em sans-serif;
	padding: 8px 0;
}
.nav li a:hover {
	background: #FAFAFA;
	color: #4AA02C;	/* changed from #F06 */
}

/* subnav */
.right {
	background: #222;
	right: 8%;
	width: 18%;
}
.subnav {
	padding: 12px 12px 0;
}
.subnav h1 {
	color: #4AA02C;	/* changed from #F06 */
	font-size: 1.4em;
	height: 20px;
	margin-left: 8px;
}
.subnav h1 a {	
	color: #4AA02C;
}
.subnav h1 a:hover {
	color: #9AF07C;
}
.subnav ul {
	margin: 0 0 16px;
	padding: 0;
}
.subnav li { 
	list-style: none;
	margin: 0;
	border-bottom: 1px solid #333;
}
.subnav li a {	
	color: #777;
	display: block;
	font-size: 0.9em;
	padding: 3px 6px 3px 8px;
	text-decoration: none;
}
.subnav li a:hover {
	color: #DDD;
}

/* round edges */
.roundtl,.roundtr,.roundbl,.roundbr {
	background: url(img/round.gif);
	height: 16px;
	width: 14px;
}
.roundtl,.roundbl {
	float: left;
}
.roundtr,.roundbr {
	float: right;
}
.roundtr {
	background-position: right top;
}
.roundbr {
	background-position: right bottom;
}
.roundbl {
	background-position: left bottom;
}

/* footer */
.footer {
	color: #666;
	border-top: 1px solid #EEE;
	font: normal 1em Verdana,sans-serif;
	margin: 0 42% 0 3%;
	padding: 8px 6px;
}

/* JC added */
.circular-image img {
               width: 300px;
               height: 300px;
               -webkit-border-radius: 150px;
               -moz-border-radius: 150px;
               -ms-border-radius: 150px;
               -o-border-radius: 150px;
                border-radius: 150px;
                              }
                              
/* Added code for expand/collapse sections */

/* Copyright (c) 2013, Layar B.V. All rights reserved.  
   Content in this file is licensed under the MIT license.   
   http://opensource.org/licenses/MIT  
*/ 

/* CSS file for Expand-collapse-example.html file */

.layerexpandcollapse {
	width: 100%;
}
 
.headingexpandcollapse {
	margin-top: 2px;
	color: #666;
	font-size: 1.4em;
	background: #DBECD5;
	padding: 5px 10px;
}

.contentexpandcollapse {
	padding: 10px;
}

h1expandcollapse { 
	padding: 0 5px;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.6em;
}

.arrow {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}

.plus_sign {
	background-image: url('img/Very-Basic-Plus-icon.jpg');
	vertical-align: middle;
}

.minus_sign{
	background-image: url('img/Very-Basic-Minus-icon.jpg');
}
